@import "styles/__fontColors.scss";

.current-weather__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $main-text-color;
}

.current-weather__container--inner {
    // font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-weather--city {
    font-size: 35px;
}

.current-weather--temp {
    font-size: 60px;
    position: relative;

    &:after {
        position: absolute;
        content: "°";
    }
}

.current-weather--condition {
    font-size: 18px;
}

.current-weather__temp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.current-weather--min-max-temp{
    margin: 0 7px;
    font-size: 18px;
    position: relative;

    &:after {
        position: absolute;
        content: "°";
        font-size: 22px;
    }
}
