html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
  background: linear-gradient(180deg, rgb(81, 138, 204) 12%, rgba(219,199,164,1) 80%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: -webkit-fill-available;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
