html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: auto;
  min-height: 100vh;
  scroll-behavior: smooth;
  background: linear-gradient(to top, rgb(240, 198, 82) 0%, rgb(65, 150, 199) 100%);
  background-size: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
