.hourly-weather__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.hourly-weather__list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: rgba(0, 0, 0, 10%);
}

.hourly-weather__title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  padding-top: 10px;
}

.hourly-weather__title--icon {
  width: 18px;
  height: auto;
  color: lightgray;
}

.hourly-weather__title--name{
  font-size: 15px;
  color: rgb(177, 177, 177);
  margin: 0;
} 

.hourly-weather__list--ul {
  padding: 5px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.hourly-weather__list--li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 18px 5px 5px;
}

.hourly-weather__list--li-time {
  padding: 5px;
  position: relative;
  font-size: 17px;
  margin: 0;
}

.hourly-weather__list--li-icon {
  width: 50px;
  height: auto;
}

.hourly-weather__list--li-temp {
  padding: 5px;
  position: relative;
  font-size: 20px;
  margin: 0;

  &:after {
    position: absolute;
    content: "°";
  }
}

.hourly-weather__spacer-container {
  display: flex;
  width: 245%;
  padding-left: 15px;
}

.hourly-weather__spacer-container--hr {
  width: 100%; 
  overflow-y: hidden;
  overflow-x: hidden;
}
