.hourly-weather__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.hourly-weather__list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid white;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.hourly-weather__list--ul {
  padding: 5px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.hourly-weather__list--li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 18px 5px 5px;
}

.hourly-weather__list--li-time {
  padding: 5px;
  position: relative;
  font-size: 17px;
  margin: 0;
}

.hourly-weather__list--li-temp {
  padding: 5px;
  position: relative;
  font-size: 20px;
  margin: 0;

  &:after {
    position: absolute;
    content: "°";
  }
}
