@import "styles/__fontColors.scss";

.search__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $main-font;
}
.search__input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 2rem;
}

.search__input-container__input {
    border-radius: 10px;
    border: 2px solid transparent;
    height: 40px;
    width: 100%;
}

.search__input-container--button {
    position: absolute !important;
    right: 0;
    top: 0;
    padding-top: 8px !important;
}